@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  aligin-items: center;
  justify-content: center;
  weight: 100vw;
  height: 100vh;
}
